* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url('photos/mindanart.jpg');
    background-size: cover;
    background-position: center;
}

.login-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
    padding-left: 110px;
}

.login-box {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 60px;
    border-radius: 8px;
    text-align: center;
    width: 600px;
    height: 600px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    margin-left: 90px;
}

.header .logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header h2 {
    font-size: 24px;
    margin: 0;
}

h1 {
    margin-bottom: 40px;
}

.form-container {
    position: relative;
    display: flex;
    transition: transform 0.5s ease;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textbox,
.textboxx {
    margin-bottom: 15px;
}

.textbox input,
.textboxx input {
    width: 80%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background: #fff;
    color: #000;
    font-size: 16px;
}

.forgot {
    text-align: right;
    margin-bottom: 45px;
    margin-right: 50px;
    margin-top: -5px;
    font-size: 15px;
}

.forgot a {
    color: #4CAF50;
    text-decoration: none;
}

.login-btn button {
    width: 80%;
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn button:hover {
    background-color: #45a049;
}

.register {
    margin-top: 30px;
}

.register a {
    color: #4CAF50;
    text-decoration: none;
}

#toggle-text {
    font-size: 14px;
}

#toggle-form {
    cursor: pointer;
}

.form-container {
    position: relative;
    display: flex;
    transition: transform 0.5s ease;
}
