* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('photos/museum.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    color: #fff;
    position: relative;
}

body::before {
    content: ""; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 15px;
}

.logo-text h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FF6347;
}

.artifacts-link {
    color: #FF6347;
}

.artifacts-link:hover {
    color: #FF8C00;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text {
    max-width: 800px;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFA500;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #FF8C00;
}

.gallery-section {
    padding: 50px;
    color: #fff;
    text-align: center;
}

.gallery-section h2 {
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.gallery-section p {
    font-size: 18px;
    margin-bottom: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.gallery-item {
    position: relative;
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    box-sizing: border-box;
}

.gallery-overlay h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.gallery-overlay p {
    font-size: 16px;
    margin-bottom: 5px;
}

.content-section {
    padding: 50px;
    color: #fff;
    text-align: center;
    margin-top: 120px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.content-image {
    flex: 1;
    margin-right: 30px;
}

.content-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.content-text {
    flex: 1;
    padding-left: 30px;
    text-align: left;
}

.content-text h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.content-text p {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        text-align: center;
    }

    .content-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .content-text {
        padding-left: 0;
    }
}

.back-to-gallery-btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-to-gallery-btn:hover {
    background-color: #FF6347;
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}
